:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --new-black: #212427;
    --new-white: #E8E8E8;
}
.container{
  background-color: var(--sucess);
    padding: 20px; 
    border-radius: 8px;
}

.card {
    display: none; 
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: fit-content;
    margin: 20px auto;
}


body {
    color: var(--new-black);
    background-color: var(--new-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(abel.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#btnIniciarQuiz {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-right: 340px;
    height: 30px;
    background-color: transparent;
    border: 2px solid var(--success-dark);
    color: var(--success);
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

#pontuacao {
    display: none;
}

#btnIniciarQuiz:hover {
    background-color: var(--success);
    color: var(--new-white);
}


.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success);
}

.text-warning-with-bg {
    color: var(--primary-brand-color);
    background-color: #f8d7da;
}

.text-danger-with-bg {
    color: #842029;
    background-color: #f8d7da;
}

.text-new-gray {
    color: var(--new-black);
}
