@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../images/fze-afpwaaiuyyo.webp);
    background-size: 100% 100%;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
    margin-top: 0;

}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 60px;
    border-radius: 5%;
    box-shadow: 3px 3px 1px 0px #00000060;
    border: 2px solid green;
    margin-left: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: green;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid green;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 2px solid green;
}

.label-float label {
    color: green;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 13px;
    margin-top: 0;
    color: green;
}

button {
    background-color: transparent;
    border-color: green;
    color: green;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover {
    background-color: green;
    color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
    border-color: green;
}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

p {
    color: green;
    font-size: 17px;
    text-align: center;
}

a {
    color: green;
    font-weight: bold;
    text-decoration: none;
    transition: all .2s ease-out;
}

a:hover {
    color: red;
}

.formulario {
    display: flex;
    gap: 40px;
    width: 100%;
    margin-top: 0;
       padding: 0;
}

.card2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border-radius: 5%;
    box-shadow: 3px 3px 1px 0px #00000060;
    border: 2px solid green;
    margin-left: 600px;
}

#opcoes {
    width: 40%;
    height: 20px;
    border-radius: 8px;
    border: 1px solid green;
    background-color: var(--new-white);
    padding-left: 10px;
    font-size: 16px;
    color: green;
    transition: border-color 0.3s;
     margin-top: 13px; 
}

#opcoes:hover {
    border-color: var(--secondary-brand-color);
}

#opcoes:focus {
    outline: none;
    border-color: var(--primary-brand-color);
}

label[for="opcoes"] {
    color: green; 
    font-size: 16px; 

}

.nav {
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 9;
}
.nav {
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 9;
}

.nav .logo {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
 font-family: "Nosifer", sans-serif;
 margin-left: -75px;

}

.nav .menu {
    width: 45%;
}

.nav .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .menu ul li {
    list-style: none;
}

.nav .menu ul li a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
    text-decoration: none;
}

.nav .menu .active {
    color: red;
}

.nav .logo {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    margin-left: -85px;


}

.nav .menu {
    width: 45%;
}

.nav .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .menu ul li {
    list-style: none;
}

.nav .menu ul li a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
    text-decoration: none;
}

.nav .menu .active {
    color: red;
}

