@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #527dda;
}

.logo h2 {
    color: rgb(45, 100, 24);
    font-family: "Nosifer", sans-serif;
}
.cards .card:hover{
    background: #7faa6a;
}

.cards .card:hover .number{
    color: #fcfcfc;
}

.cards .card:hover .icon-box{
    color: #ffffff;
}

.cards .card:hover .card-name{
    color: #ffffff;
}

.main {
    position: absolute;
    top: 130px;
    width: 70%;
    left: 260px;
    background:  rgba(0, 44, 0, 0.534);
    border-radius: 20px;
}

.cards{
    width: 100%;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: space-between;
}

.cards .card{
padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;
background: #fff;
border-radius: 10px;
box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.number{
    font-size: 35px;
    font-weight: 500;
    color: green;
}

.card_name{
    color: grey;
    font-weight: 600;
}


.charts{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart{
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
}

.chart h2{
    margin-bottom: 5px;
    font-size: 20px;
    color: #438d20;
    text-align: center;
}
.nav {
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 9;
}

.nav .logo {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    font-family: "Nosifer", sans-serif;
    margin-left: -75px;

}

.nav .menu {
    width: 45%;
}

.nav .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .menu ul li {
    list-style: none;
}

.nav .menu ul li a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav .menu .active {
    color:  rgb(255, 0, 0)
}
